# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

y.tab.h
correlation/correlation
fitline/fitline
kurtosis/kurtosis
linest/linest
max/max
mean/mean
median/median
min/min
permutation/permutation
quantile/quantile
scale/scale
shift/shift
skew/skew
stddev/stddev
variance/variance
getcols/columns.[ch]
getcols/parse.c
